
            <div class="grid wide">
                <div class="row toidattenclassngu">
                    <div class="col l-2 m-0 c-0">
                        <nav class="category">
                            <h3 class="category_heading">
                                <i class="category_heading-icon fa-solid fa-list"></i>
                                <span class="category-text">Danh mục</span>    
                            </h3>
                            <ul class="category-list">
                                <li class="category-item category-item__link-active">
                                    <a href="" class="category-item__link">Sản Phẩm</a>
                                </li>
                                <li class="category-item">
                                    <a href="" class="category-item__link haizz">Sách Mới</a>
                                </li>
                                <li class="category-item">
                                    <a href="" class="category-item__link haizz">Light Novel</a>
                                </li>
                                <li class="category-item">
                                    <a href="" class="category-item__link haizz">Truyện Tranh</a>
                                </li>
                                <li class="category-item">
                                    <a href="" class="category-item__link haizz">Đam Mỹ-BL-GL</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col l-10 m-12 c-12 ">
                        {{#if searchTerm}}
                        <h1 class="search_result_text">
                            <i class="fa-solid fa-magnifying-glass search_result_text_icon"></i>
                            <span>
                                Kết quả tìm kiếm cho 
                                <span style="color: #fe6433;">
                                    "{{searchTerm}}"
                                </span>
                            </span>
                        </h1>
                        {{/if}}
                        <div class="home-filter hide-on-mobile-tablet">
                            <span class="home-text">Sắp xếp theo</span>
                            <button class="home_btn btn">Phổ biến</button>
                            <button class="home_btn btn btn_primary">Mới nhất</button>
                            <button class="home_btn btn">Bán chạy</button>
                            <div class="select-input">
                                <span class="input_label">Giá</span>
                                <i class="ohoho fa-solid select_icon fa-arrow-down"></i>
                                <!-- LIST OPTION -->
                                <ul class="select_input-list">
                                    <li class="select_input-item">
                                        <a href="" class="input_link">Giá: Thấp đến cao</a>
                                    </li>
                                    <li class="select_input-item">
                                        <a href="" class="input_link">Giá: Cao đến thấp</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="home-filter__lmao">
                                <span class="home-filter__lmao1">
                                    <span class="page_current">1</span>/14
                                </span>
                                <div class="home-filter_control">
                                    <a href="" class="home_btn_aloalo classkhuyettat ">
                                        <i class="arya fa-solid select_icon fa-arrow-left"></i>
                                    </a>
                                    <a href="" class="home_btn_aloalo">
                                        <i class="arya fa-solid select_icon fa-arrow-right"></i>
                                    </a>
                                </div>
                           </div>
                        </div>
                        <div class="home_product">
                            <div class="row">
                                









                                {{#each products}}
                                <div class="col l-2-4 m-4 c-6">
                                    <a class="home_product-item" href="/products/{{this.slug}}">
                                        <div class="square">
                                            <img width="invalid-value" height="invalid-value" alt="Sách - Bảo mẫu bí mật của tiểu thư tập 1" class="product_item-img" style="object-fit: contain" src="{{this.product_img}}">
                                        </div>
                                        <h4 class="nameofpr">{{this.product_name}}</h4>
                                        <div class="product-text">
                                            {{!-- <span class="price_old">115.000đ</span> --}}
                                            <span class="price_new">{{formatCurrency this.product_price}}đ</span>
                                        </div>
                                        <div class="product_interact">
                                            <span class="product-like product-like--liked">
                                                
                                                <i class="fa-solid fa-heart product-like--icon"></i>
                                            </span>
                                            <div class="startlight">
                                                <i class="yello_star fa-solid fa-star"></i>
                                                <i class="yello_star fa-solid fa-star"></i>
                                                <i class="yello_star fa-solid fa-star"></i>
                                                <i class="yello_star fa-solid fa-star"></i>
                                                <i class="yello_star fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="product-sell">
                                            <span class="agugu">Đã bán 49</span>
                                        </div>
                                        <div class="favourite">
                                            <i class="fa-solid fa-check"></i>
                                            <span class="">Yêu thích</span>
                                        </div>
                                        {{!-- <div class="product_sale">
                                            <span class="value">-10%</span>
                                        </div> --}}
                                    </a>
                                </div>
                                {{/each}}


                            </div>
                        </div>
                        <ul class="pagination home_product_pagination">
                            {{#if (gt current 1)}}
                                <li class="pagination-item">
                                    <a href="{{pagination_path}}?page={{subtract current 1}}{{#if searchTerm}}&q={{searchTerm}}{{/if}}" class="pagination-item_link">
                                        <i class="fa-solid fa-chevron-left pagination-item_link-icon"></i>
                                    </a>
                                </li>
                            {{/if}}
                                
                            {{#each (range 1 pages)}}
                                <li class="pagination-item">
                                    <a href="{{pagination_path}}?page={{this}}{{#if ../searchTerm}}&q={{../searchTerm}}{{/if}}" class="pagination-item_link" {{#if (eq ../current this) }}id="current_page"{{/if}}>
                                        {{this}}
                                    </a>
                                </li>
                            {{/each}}

                            {{#if (lt current pages)}}
                                <li class="pagination-item">
                                    <a href="{{pagination_path}}?page={{add current 1}}{{#if searchTerm}}&q={{searchTerm}}{{/if}}" class="pagination-item_link">
                                        <i class="fa-solid fa-chevron-right pagination-item_link-icon"></i>
                                    </a>
                                </li>
                            {{/if}}
                            {{!-- <li class="pagination-item pagination-item_active">
                                <a href="" class="pagination-item_link ">
                                    1
                                </a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item_link">
                                    2
                                </a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item_link">
                                    3
                                </a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item_link">
                                    4
                                </a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item_link">
                                    5
                                </a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item_link">
                                    ...
                                </a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item_link">
                                    14
                                </a>
                            </li> --}}
                            
                        </ul>
                    </div>
                </div>
            </div>
   